@import url('~/platform.css');

Page {
    background-color: #7f9efc;
    font-size: 17;
}
Label {
    margin: 5;
    padding: 5;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}
Button {
    margin: 10;
    padding: 10;
    background-color: #f07da8;
    color: white;
}
ActionBar {
    color: white;
    background-color: #9b64f8;
}
.cardStyle {
    background-color: #fafafa;
    color: #000;
}
.innerCardStyle {
    background-color: #fafafa;
    color: #000;
    width: 90%;
    margin-top:10;
    padding-left: 10;
    border-radius: 2;
}
.quicksand {
    font-family: "Quicksand-Regular";
    font-size: 20;
}
.quicksandBold {
    font-family: "Quicksand-Bold";
    font-size: 25;
}
.quicksandBoldLarge {
    font-family: "Quicksand-Bold";
    font-size: 40;
}
.clip-circle {
    clip-path: circle(100% at 50% 50%); 
    margin: 0;
    padding: 0;
}

.cardStack {
    margin-top:40;
}
