@import url('~/platform.css');

Page {
    background-color: #7f9efc;
    font-size: 17;
}
Label {
    margin: 5;
    padding: 5;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}
Button {
    margin: 10;
    padding: 10;
    background-color: #f07da8;
    color: white;
}
ActionBar {
    color: white;
    background-color: #9b64f8;
}
.cardStyle {
    background-color: #fafafa;
    color: #000;
}
.quicksand {
    font-family: "Quicksand-Regular";
    font-size: 20;
}
.quicksandBold {
    font-family: "Quicksand-Bold";
    font-size: 25;
}
.clip-circle {
    clip-path: circle(100% at 50% 50%); 
    margin: 5;
    padding: 5;
}